* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  }

  .nav-container {
    background-color: #3c4042;
    position: fixed;
    top: 0;
    
  }

  .logo-equilibrarte {
    /*width: 2vw;*/
    height: 50px;
    
  }
  
  .logo-equilibrarte:hover {
    filter: brightness(180%) !important;
  }