* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

header {
    background-color: #535758;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}
  
.logo-equilibrarte {
  height: 50px;
}

.text-andika {
  font-family: 'Andika', sans-serif;
  color: rgb(150, 218, 159);
}

.text-andika:hover {
  color:rgb(191, 236, 197) !important;
}

li:hover {
  transition: all 0.5s;
  transform: scale(1.03);
}

a.navbar-brand:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  filter: brightness(150%) !important;
}

.carousel-inner {
  height: calc(100vh - 76px) !important;  
}

.carousel-item {
  height: calc(100vh - 78px) !important;
}

.carousel-size img {
  position: absolute;
  overflow: hidden;
  top: -30px;
  width: 95vw;
  filter: brightness(60%);
}

.carrusel {
  position: relative;
  top: 76px;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}

.carousel-caption {
  position: relative;
  margin-left: 40%;
  margin-top: 25%;
  height: 30%;
  width: 40%;
  text-align: right !important;
  
}

.txtCarousel {
  font-size: 2.3vw !important;
  font-weight: 700 !important;
}

.txtCarousel-desc {
  font-size: 1.2vw !important;
}