* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
  }

  .nav-container {
    background-color: #3c4042;
  }

  .logo-equilibrarte {
    width: 2vw;
  }
  
  .logo-equilibrarte:hover {
    filter: brightness(120%) !important;
  }